

h2#albumtitle {
	font-family: 'ArchitectsDaughter', cursive, Arial, Times;
}

div.background-image {
	background-image: url(http://images.amazon.com/images/P/B000002HC5.01._SCLZZZZZZZ_.jpg);
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: yellow;
}

h2#bandandproducer {
	font-family: 'ArchitectsDaughter', cursive, Arial, Times;
}

ul {
	margin-left: 40px;
}


thead {
	background-color: #8deeee;
	text-align: center;
}

thead tr th {
	text-align: center;
}

tbody {
	background-color: #00BFFF;
	text-align: center;
	font-style: italic;
}

.table-striped>tr:nth-child(odd) {
	background-color: #009acd;
}